.App {
  text-align: center;
}

.Header{
  background-color: aquamarine;
  margin: 0px;
}

ul{
  list-style-type: none;
  margin-top: 0px;
  padding-top: 20px;
}
 button{
   background-color: palegreen;
 }
 button:hover{
   background-color: salmon;
 }

 button:disabled{
background-color:white;
color: white;
border: white;
 }
img{
  width: 200px;
  border-radius: 50%;
  padding: 15px;  
}

h1{
  margin: 0px;
  padding: 25px;
}

.Nav{
  background-color: palevioletred;
}

.topic-link{
  align-content: center;
  padding: 20px;
  color: palegoldenrod;
}

.Articles{
  background-color: plum;
}

.Articles ul{
    list-style-type: none;
    align-content: center;

}

.Articles li{
  background-color: beige;
  margin: 20px;
  padding: 20px;
}
